body {
	background-color: lightsteelblue;
}


#game-container {
	height: 600px;
	width: 600px;
	border: solid 3px black;
	border-radius: 20%;
	background-color: gray;
	color: ivory;
}

#left-top-corner-container {
	height: 100px;
	width: 150px;
	/*background-color: black;*/
	border: solid 1px black;
	position: relative;
	top: -39%;
	left: 0%;
	-webkit-transform: skewY(20deg);
	-moz-transform: skewY(20deg);
	-ms-transform: skewY(20deg);
	-o-transform: skewY(20deg);
	transform: skewY(20deg);
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	flex-direction: column-reverse;

}

#ramp1 {
	height: 10px;
	width: 150px;
	background-color: green;


}

#item1container {
	height: 80px;
	width: 150px;
	/*background-color: blue;*/
	position: relative;

	
}

#item1 {
	height: 80px;
	width: 70px;
	background-image: url("https://payload.cargocollective.com/1/2/71834/11021397/ATI_bird_animations_all.gif");
	background-size: 100% 100%;
	position: relative;
	/*animation-duration: .7s;
	animation-name: bounce;*/
}
/*
@keyframes bounce {
	from {
		margin-left: 100%;
		width: 300%;
	}
	to {
		margin-left: 0%;
		width: 100%;
	}
}*/

#right-top-corner-container {
	height: 100px;
	width: 150px;
	/*background-color: black;*/
	border: solid 1px black;
	position: relative;
	top: -56%;
	left: 74%;
	-webkit-transform: skewY(-20deg);
	-moz-transform: skewY(-20deg);
	-ms-transform: skewY(-20deg);
	-o-transform: skewY(-20deg);
	transform: skewY(-20deg);
	display: flex;
	align-items: flex-end;
	flex-direction: column-reverse;
	overflow: hidden;
}

#item2container {
	height: 80px;
	width: 150px;
	/*background-color: blue;*/
	position: relative;
	display: flex;
	flex-direction: column-reverse;

/*	border-radius: 20%;
*/	/*top: -68%;
	left: 86%;*/
}

#item2 {
	height: 80px;
	width: 70px;
	position: relative;
	align-self: flex-end;
	background-image: url("https://data.whicdn.com/images/81086916/original.gif");
	background-size: 100% 100%;
	/*left: 40%;*/
}

#ramp2 {
	height: 10px;
	width: 150px;
	background-color: green;
}

#left-bottom-corner-container {
	height: 100px;
	width: 150px;
	/*background-color: black;*/
	border: solid 1px black;
	position: relative;
	top: -33%;
	left: 0%;
	-webkit-transform: skewY(20deg);
	-moz-transform: skewY(20deg);
	-ms-transform: skewY(20deg);
	-o-transform: skewY(20deg);
	transform: skewY(20deg);
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	flex-direction: column-reverse;
	overflow: hidden;

}

#item3container {
	height: 80px;
	width: 150px;
	/*background-color: blue;*/
	position: relative;
	/*top: 0%;
	left: 74%;*/
}

#item3 {
	height: 80px;
	width: 70px;
	background-image: url("https://i.imgur.com/nk7l6Zi.gif");
	background-size: 100% 100%;
	position: relative;
}

#ramp3 {
	height: 10px;
	width: 150px;
	background-color: green;
}

#right-bottom-corner-container {
	height: 100px;
	width: 150px;
	/*background-color: black;*/
	border: solid 1px black;
	position: relative;
	top: -51%;
	left: 74%;
	-webkit-transform: skewY(-20deg);
	-moz-transform: skewY(-20deg);
	-ms-transform: skewY(-20deg);
	-o-transform: skewY(-20deg);
	transform: skewY(-20deg);
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	flex-direction: column-reverse;
	overflow: hidden;
}

#item4container {
	height: 80px;
	width: 150px;
	/*background-color: blue;*/
	position: relative;
	display: flex;
	flex-direction: column-reverse;

}

#item4 {
	height: 80px;
	width: 70px;
	align-self: flex-end;
	background-image: url("https://colossalmedia.com/wp-content/uploads/2018/02/Heartgif.gif");
	background-size: 100% 100%;
	position: relative;
}

#ramp4 {
	height: 10px;
	width: 150px;
	background-color: green;
}



#character {
	height: 350px;
	width: 250px;
	background-color: black;
	border: solid 3px black;
	position: relative;
	top: 25%;
	left: 29%;
	background-size: contain;

}


#scoreboard {
	height: 80px;
	width: 200px;
	/*background-color: white;*/
	border: solid 3px black;
	position: relative;
	top: -129%;
	left: 33%;
	border-radius: 20%;
	color: black;

}

