body {
	background-color: lightsteelblue;
}


#game-container {
	height: 600px;
	width: 600px;
	border: solid 3px black;
	border-radius: 20%;
	background-color: gray;
	color: ivory;
}

#left-top-corner-container {
	height: 100px;
	width: 150px;
	background-color: black;
	border: solid 3px black;
	position: relative;
	top: -39%;
	left: 0%;
	-webkit-transform: skewY(20deg);
	-moz-transform: skewY(20deg);
	-ms-transform: skewY(20deg);
	-o-transform: skewY(20deg);
	transform: skewY(20deg);

}

#ramp1 {
	height: 5px;
	width: 150px;
	background-color: green;
}

#item1container {
	height: 80px;
	width: 130px;
	background-color: blue;
	position: relative;
	
}

#item1 {
	height: 70px;
	width: 70px;
	background-color: red;

}

#right-top-corner-container {
	height: 100px;
	width: 150px;
	background-color: black;
	border: solid 3px black;
	position: relative;
	top: -56%;
	left: 74%;
	-webkit-transform: skewY(-20deg);
	-moz-transform: skewY(-20deg);
	-ms-transform: skewY(-20deg);
	-o-transform: skewY(-20deg);
	transform: skewY(-20deg);
}

#item2container {
	height: 80px;
	width: 130px;
	background-color: blue;
	position: relative;
/*	border-radius: 20%;
*/	/*top: -68%;
	left: 86%;*/
}

#item2 {
	height: 70px;
	width: 70px;
	background-color: red;
}

#ramp2 {
	height: 5px;
	width: 150px;
	background-color: green;
}

#left-bottom-corner-container {
	height: 100px;
	width: 150px;
	background-color: black;
	border: solid 3px black;
	position: relative;
	top: -33%;
	left: 0%;
	-webkit-transform: skewY(20deg);
	-moz-transform: skewY(20deg);
	-ms-transform: skewY(20deg);
	-o-transform: skewY(20deg);
	transform: skewY(20deg);
}

#item3container {
	height: 80px;
	width: 130px;
	background-color: blue;
	position: relative;
	/*top: 0%;
	left: 74%;*/
}

#item3 {
	height: 70px;
	width: 70px;
	background-color: red;
}

#ramp3 {
	height: 5px;
	width: 150px;
	background-color: green;
}

#right-bottom-corner-container {
	height: 100px;
	width: 150px;
	background-color: black;
	border: solid 3px black;
	position: relative;
	top: -51%;
	left: 74%;
	-webkit-transform: skewY(-20deg);
	-moz-transform: skewY(-20deg);
	-ms-transform: skewY(-20deg);
	-o-transform: skewY(-20deg);
	transform: skewY(-20deg);
}

#item4container {
	height: 80px;
	width: 130px;
	background-color: blue;
	position: relative;

}

#item4 {
	height: 70px;
	width: 70px;
	background-color: red;
}

#ramp4 {
	height: 5px;
	width: 150px;
	background-color: green;
}



#character {
	height: 350px;
	width: 250px;
	background-color: black;
	border: solid 3px black;
	position: relative;
	top: 25%;
	left: 29%;
}


#scoreboard {
	height: 80px;
	width: 200px;
	background-color: white;
	border: solid 3px black;
	position: relative;
	top: -129%;
	left: 33%;
	border-radius: 20%;
	color: black;

}

