body {
	background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/0kjHIH6/dark-and-spooky-dungeon-with-torches-hanging-on-a-brick-wall_4bqefvc9l__F0000.png');
	background-size: 100%;
}


#door {
	height: 200px;
	width: 150px;
	/*border: solid 3px black;*/
	/*background-color: rgb(255,255,51, .7);*/
	background-image: url('http://pngimg.com/uploads/door/door_PNG17558.png');
	background-size: 100% 100%;
	left: 850px;
	top: 150px;
	position: relative;
}

#game-container {
	height: 600px;
	width: 600px;
	border: solid 3px black;
	border-radius: 20%;
	background-color: rgba(51,170,51, .5);
	/*opacity: .5;*/
	color: ivory;
	position: relative;
	top: -100px;
	left: 100px;
	font-family: 'Special Elite', cursive;
	font-size: 40px;
}

#left-top-corner-container {
	height: 100px;
	width: 150px;
	/*background-color: black;*/
	/*border: solid 1px black;*/
	position: relative;
	top: -39%;
	left: 0%;
	-webkit-transform: skewY(20deg);
	-moz-transform: skewY(20deg);
	-ms-transform: skewY(20deg);
	-o-transform: skewY(20deg);
	transform: skewY(20deg);
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	flex-direction: column-reverse;

}

#ramp1 {
	height: 10px;
	width: 150px;
	background-image: url('https://i.gifer.com/GpaE.gif');



}

#item1container {
	height: 80px;
	width: 150px;
	/*background-color: blue;*/
	position: relative;

	
}

#item1 {
	height: 80px;
	width: 70px;
	background-image: url("https://payload.cargocollective.com/1/2/71834/11021397/ATI_bird_animations_all.gif");
	background-size: 100% 100%;
	position: relative;

}


#item11 {
	height: 80px;
	width: 70px;
	background-image: url("https://payload.cargocollective.com/1/2/71834/11021397/ATI_bird_animations_all.gif");
	background-size: 100% 100%;
	position: relative;

}

#right-top-corner-container {
	height: 100px;
	width: 150px;
	/*background-color: black;*/
	/*border: solid 1px black;*/
	position: relative;
	top: -56%;
	left: 75%;
	-webkit-transform: skewY(-20deg);
	-moz-transform: skewY(-20deg);
	-ms-transform: skewY(-20deg);
	-o-transform: skewY(-20deg);
	transform: skewY(-20deg);
	display: flex;
	align-items: flex-end;
	flex-direction: column-reverse;
	overflow: hidden;
}

#item2container {
	height: 80px;
	width: 150px;
	/*background-color: blue;*/
	position: relative;
	display: flex;
	flex-direction: column-reverse;

}

#item2 {
	height: 80px;
	width: 70px;
	position: relative;
	align-self: flex-end;
	background-image: url("https://data.whicdn.com/images/81086916/original.gif");
	background-size: 100% 100%;
	/*left: 40%;*/
}

#item22 {
	height: 80px;
	width: 70px;
	position: relative;
	align-self: flex-end;
	background-image: url("https://data.whicdn.com/images/81086916/original.gif");
	background-size: 100% 100%;
	/*left: 40%;*/
}

#ramp2 {
	height: 10px;
	width: 150px;
	background-image: url('https://i.gifer.com/GpaE.gif');
}

#left-bottom-corner-container {
	height: 100px;
	width: 150px;
	/*background-color: black;*/
	/*border: solid 1px black;*/
	position: relative;
	top: -33%;
	left: 0%;
	-webkit-transform: skewY(20deg);
	-moz-transform: skewY(20deg);
	-ms-transform: skewY(20deg);
	-o-transform: skewY(20deg);
	transform: skewY(20deg);
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	flex-direction: column-reverse;
	overflow: hidden;

}

#item3container {
	height: 80px;
	width: 150px;
	/*background-color: blue;*/
	position: relative;
	/*top: 0%;
	left: 74%;*/
}

#item3 {
	height: 80px;
	width: 70px;
	background-image: url("https://i.imgur.com/nk7l6Zi.gif");
	background-size: 100% 100%;
	position: relative;
}

#item33 {
	height: 80px;
	width: 70px;
	background-image: url("https://i.imgur.com/nk7l6Zi.gif");
	background-size: 100% 100%;
	position: relative;
}

#ramp3 {
	height: 10px;
	width: 150px;
	background-image: url('https://i.gifer.com/GpaE.gif');
}

#right-bottom-corner-container {
	height: 100px;
	width: 150px;
	/*background-color: black;*/
	/*border: solid 1px black;*/
	position: relative;
	top: -51%;
	left: 75%;
	-webkit-transform: skewY(-20deg);
	-moz-transform: skewY(-20deg);
	-ms-transform: skewY(-20deg);
	-o-transform: skewY(-20deg);
	transform: skewY(-20deg);
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	flex-direction: column-reverse;
	overflow: hidden;
}

/*#character-container1 {
	height: 80px;
	width: 150px;
	background-color: blue;
	position: relative;
	display: flex;
	flex-direction: column-reverse;

}*/

#item4 {
	height: 80px;
	width: 70px;
	align-self: flex-end;
	background-image: url("https://colossalmedia.com/wp-content/uploads/2018/02/Heartgif.gif");
	background-size: 100% 100%;
	position: relative;
}

#item44 {
	height: 80px;
	width: 70px;
	align-self: flex-end;
	background-image: url("https://colossalmedia.com/wp-content/uploads/2018/02/Heartgif.gif");
	background-size: 100% 100%;
	position: relative;
}

#ramp4 {
	height: 10px;
	width: 150px;
	background-image: url('https://i.gifer.com/GpaE.gif');
}



#basket-container {
	height: 350px;
	width: 250px;
	/*background-color: rgba(0,0,0,.5);*/
	/*border: solid 3px black;*/
	position: relative;
	top: 25%;
	left: 29%;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: 25px;
	font-family: 'Special Elite', cursive;

}

#basket1 {
	height: 80px;
	width: 250px;
	/*background-color: pink;*/
	border: solid 1px black;
	background-image: url('https://thumbs.dreamstime.com/t/box-dark-edges-inside-blue-50865067.jpg');
	background-size: 100% 100%;
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	overflow: hidden;
	position: relative;

}

#basket2 {
	height: 80px;
	width: 250px;
	background-image: url('https://thumbs.dreamstime.com/t/box-dark-edges-inside-blue-50865067.jpg');
	background-size: 100% 100%;
	/*background-color: yellow;*/
	border: solid 1px black;
	color: black;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: relative;	
	justify-content: center;

}

#basket3 {
	height: 80px;
	width: 250px;
	background-image: url('https://thumbs.dreamstime.com/t/box-dark-edges-inside-blue-50865067.jpg');
	background-size: 100% 100%;
	/*background-color: tomato;*/
	border: solid 1px black;
	color: black;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	position: relative;
	/*border-radius: 20%;*/

}


#scoreboard {
	height: 100px;
	width: 200px;
	background-color: olive;
	opacity: .9;
	border: solid 3px black;
	position: relative;
	top: -129%;
	left: 33%;
	border-radius: 20%;
	color: black;
	font-size: 16px;
	font-family: 'Special Elite', cursive;
	display: flex;
	flex-direction: column;



}

#exit {
	height: 80px;
	width: 250px;
	/*background-color: tomato;*/
	/*border: solid 1px black;*/
	position: relative;
	background-size: contain;
	color: black;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}









